:root {
    /* Color */
    --color-darkgrey: #1f2029;
    --color-lightgrey: #8f8e8e;
    --color-grey: #5c5c5c;
    --color-violate-theme: #856b9d;
    --color-light-violate: #c998f7;
    --color-white: white;
    --color-orange: rgb(255, 183, 49);

    /* Font-size */
    --font-small: 8px;
    --font-regular: 12px;
    --font-medium: 16px;
    --font-large: 22px;
    --font-title: 56px;

    /* Font-Weight */
    --font-bold: 700;
    --font-semi-bold: 600;
    --font-normal-weight: 400;

    /* Space */
    --base-space: 8px;

    /* border-radius */
    --radius: 4px;

    /* Animation-Duration */
    --animation-duration: 300ms;
}

/* Universal tags */
* {
    box-sizing: border-box;
}

/* Typhography */

body {
    margin: 0px;
    cursor: default;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}

.section__container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.title {

    font-size: var(--font-title);
    text-transform: uppercase;
    margin: 0px;
}

.description {
    font-size: var(--font-large);
    font-weight: bolder;
    text-transform: uppercase;
}

#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    margin-right: calc(var(--base-space)*2);
    padding: var(--base-space) calc(var(--base-space)*2);
    color: var(--color-white);
    cursor: pointer;
    border-radius: var(--radius);
    transition: var(--animation-duration) ease;
}

#navbar ul li.active {
    border: solid 1px var(--color-white);

}

#navbar ul li:hover {
    background-color: var(--color-violate-theme);
}

#navbar__logo img {
    width: 45px;
    padding: var(--base-space);
}



/* Home Section */
#home {
    color: var(--color-white);
    background: center/cover no-repeat url(img/background-image.png);
}

#about {
    background-color: var(--color-violate-theme);
    color: var(--color-white);
}

#works {
    background-color: var(--color-violate-theme);
    color: var(--color-white);
}

/* About Section */

#about__container {
    display: flex;
    margin-top: calc(var(--base-space)*3);
}

#aboutBox {
    margin-right: 40px;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--font-large);

}

#myPicture {
    background: center/cover url(img/mypicture.jpg) no-repeat;
    border-radius: 50%;
    background-size: 550px 500px;
    border: solid 1px var(--color-white);
    width: 400px;
    height: 400px;
    margin-left: var(--base-space);
}


/* Skills Section */

.skillsBox {
    display: flex;
    width: 100%;
    background-color: var(--color-lightgrey);
    color: var(--color-white);
    margin: 30px 0;
}

.skillsBox__left {
    padding: 20px;
    flex-basis: 60%;
    background-color: var(--color-darkgrey);
}

.skill {
    padding: 10px 40px;
    margin-bottom: 24px;
}

.skill__description {
    display: flex;
    justify-content: space-between;
    padding: var(--base-space) 0;
}

.skillsBox__right {
    flex-basis: 40%;
}

.toolsbox {
    background-color: var(--color-grey);
}

.innertitle {
    font-size: var(--font-large);
}

.skill__progressBar {
    background-color: var(--color-grey);
    width: 100%;
    height: 3px;
}

.skill__value {
    height: 3px;
    background-color: var(--color-light-violate);
}

.toolsbox,
.etcbox {
    padding: 15px;
    height: 50%;
}

/* Works Section */
/* Contact Section */
#contact {
    height: 85vh;
}

#contact__Btn {
    margin-top: 15px;
    font-size: var(--font-medium);
    padding: 10px;
    text-transform: uppercase;
    border: solid 2px var(--color-violate-theme);
    color: var(--color-violate-theme);
    transition: all var(--animation-duration) ease;
}

#contact__Btn:hover {
    background-color: var(--color-violate-theme);
    color: var(--color-white);
}

#footer {
    background-color: var(--color-darkgrey);
    height: 15vh;
}