:root {
    /* Color */
    --color-darkgrey: #1f2029;
    --color-grey: #5c5c5c;
    --color-lightgrey: #8f8e8e;
    --color-light-white: rgb(219, 219, 219);
    --color-white: white;
    --color-violate-theme: #856b9d;
    --color-light-violate: #c998f7;

    --color-orange: rgb(255, 183, 49);

    /* Font-size */
    --font-small: 8px;
    --font-regular: 12px;
    --font-medium: 16px;
    --font-large: 22px;
    --font-title: 56px;

    /* Font-Weight */
    --font-bold: 700;
    --font-semi-bold: 600;
    --font-normal-weight: 400;

    /* Space */
    --base-space: 8px;

    /* border-radius */
    --radius: 4px;

    /* Animation-Duration */
    --animation-duration: 300ms;
}

/* Universal tags */
* {
    box-sizing: border-box;
}

/* Typhography */

body {
    margin: 0px;
    cursor: default;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    min-height: 100vh;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}

.section__container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.title {

    font-size: var(--font-title);
    text-transform: uppercase;
    margin: 0px;
}

.description {
    font-size: var(--font-large);
    font-weight: bolder;
    text-transform: uppercase;
}

#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    margin-right: calc(var(--base-space)*2);
    padding: var(--base-space) calc(var(--base-space)*2);
    color: var(--color-white);
    cursor: pointer;
    border-radius: var(--radius);
    transition: var(--animation-duration) ease;
}

#navbar ul li.active {
    border: solid 1px var(--color-white);

}

#navbar ul li:hover {
    background-color: var(--color-violate-theme);
}

#navbar__logo img {
    width: 45px;
    padding: var(--base-space);
}



/* Home Section */
#home {
    color: var(--color-white);
    background: center/cover no-repeat url(img/background-image.png);
}

#about {
    background-color: var(--color-violate-theme);
    color: var(--color-white);
}

#work {
    background-color: var(--color-violate-theme);
    color: var(--color-white);
}

/* About Section */

#about__container {
    display: flex;
    margin-top: calc(var(--base-space)*3);
}

#aboutBox {
    margin-right: 40px;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--font-large);

}

#myPicture {
    background: center/cover url(img/mypicture.jpg) no-repeat;
    border-radius: 50%;
    background-size: 550px 500px;
    border: solid 1px var(--color-white);
    width: 400px;
    height: 400px;
    margin-left: var(--base-space);
}


/* Skills Section */

.skillsBox {
    display: flex;
    width: 100%;
    background-color: var(--color-lightgrey);
    color: var(--color-white);
    margin: 30px 0;
}

.skillsBox__left {
    padding: 20px;
    flex-basis: 60%;
    background-color: var(--color-darkgrey);
}

.skill {
    padding: 10px 40px;
    margin-bottom: 24px;
}

.skill__description {
    display: flex;
    justify-content: space-between;
    padding: var(--base-space) 0;
}

.skillsBox__right {
    flex-basis: 40%;
}

.toolsbox {
    background-color: var(--color-grey);
}

.innertitle {
    font-size: var(--font-large);
}

.skill__progressBar {
    background-color: var(--color-grey);
    width: 100%;
    height: 3px;
}

.skill__value {
    height: 3px;
    background-color: var(--color-light-violate);
}

.toolsbox,
.etcbox {
    padding: 15px;
    height: 50%;
}

/* Works Section */
.work__categories {
    position: relative;
}

.category__btn {
    color: var(--color-white);
    border: solid 1px var(--color-white);
    border-radius: var(--radius);
    font-size: var(--font-medium);
    padding: 8px 0;
    width: 250px;
    transition: all var(--animation-duration) ease;
}

.category__count {
    position: relative;
    display: inline-block;
    background-color: var(--color-darkgrey);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-left: var(--base-space);
    color: var(--color-white);
    top: -20px;
    opacity: 0;
    transition: all var(--animation-duration) ease;
}


.category__btn.active,
.category__btn:hover {
    background-color: var(--color-white);
    color: var(--color-violate-theme);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
    top: 0;
    opacity: 1;
}

.project__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: var(--base-space);
    margin-top: 50px;
}

.project {
    position: relative;
    width: 280px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project__img {
    max-width: 280px;
    max-height: 250px;
}

.project__description {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
}

.project__name:after {
    content: '';
    width: 25px;
    height: 2px;
    background-color: var(--color-white);
    display: block;
    position: relative;
    left: 50%;
    margin: 10px 0 10px -12px;

}

.project:hover .project__description {
    opacity: 0.9;
    transform: translateY(0px);
}

.coming {
    width: 100%;
    height: 250px;
    text-align: center;
    line-height: 250px;
    font-size: var(--font-large);
    color: var(--color-lightgrey);
    background-color: var(--color-darkgrey);
    opacity: 0.8;
    margin-top: 20px;
}



/* Contact Section */
#contact {
    height: 85vh;
    min-height: 0;
}

#contact__Btn {
    margin-top: 15px;
    font-size: var(--font-medium);
    padding: 10px;
    text-transform: uppercase;
    border: solid 2px var(--color-violate-theme);
    color: var(--color-violate-theme);
    transition: all var(--animation-duration) ease;
}

#contact__Btn:hover {
    background-color: var(--color-violate-theme);
    color: var(--color-white);
}

#footer {
    min-height: 0;
    background-color: var(--color-darkgrey);
    height: 15vh;
}